<div class="jumbotron bgwhite container-fluid" style="background-color: white; width: 100%;">
    <div class="row text-center">
        <div class="col-sm-12">
            <h1>We are on Page - 3</h1>
            <br><br>
            <div>
                <button mat-raised-button routerLink="/">Page - 1</button>
                <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <button mat-raised-button routerLink="/page2" color="primary">Page - 2</button>
                <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <button mat-raised-button routerLink="/page4" color="accent">Page - 4</button>
                <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <button mat-raised-button routerLink="/page5" color="warn">Page - 5</button>
            </div>
        </div>
    </div>
</div>